@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap');

:root {
    /* COLOR VARIABLES */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%)
}

body {
    background-color: var(--light-gray);
    font-size: 15px;
    font-family: 'Outfit', 'Arial';
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}


.main-container {
    
    
    
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 300px;
    padding: 1rem;
    border-radius: 15px;
    gap: 1.5rem;
    
    
}

img {
    border-radius: 10px;
    height: 100%;
}

.p-1 {
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0 15px 0 15px;
    text-align: center;
    margin: 0;
}


.p-2 {
    padding: 0 15px 0 15px;
    text-align: center;
    color: var(--grayish-blue);
    font-size: 1rem;
    margin: 0 0 20px 0;
}
